center
  div(style="background-color: Teal;")
    h3(style="color: white;")= '詰将棋練習問題　１～２０題　２０１３年３月'
  table
    tr
      td
        h4= '問題１　３手詰'
        img(src="assets/img/tokeure/archive/ren/13/0301.jpg" align="bottom" width="275" height="251" border="0")
        p= 'ヒント：ズバリ決め手は？'
        br
      td
        h4= '問題２　３手詰'
        img(src="assets/img/tokeure/archive/ren/13/0302.jpg" align="bottom" width="275" height="251" border="0")
        p= 'ヒント：盤上に残す駒は？'
        br
    tr
      td
        h4= '問題３　３手詰'
        img(src="assets/img/tokeure/archive/ren/13/0303.jpg" align="bottom" width="275" height="251" border="0")
        p= 'ヒント：「大駒ははなして打て」'
        br
      td
        h4= '問題４　３手詰'
        img(src="assets/img/tokeure/archive/ren/13/0304.jpg" align="bottom" width="275" height="251" border="0")
        p= 'ヒント：「大駒ははなして打て」'
        br
    tr
      td
        h4= '問題５　３手詰'
        img(src="assets/img/tokeure/archive/ren/13/0305.jpg" align="bottom" width="275" height="251" border="0")
        p
          | ヒント：飛と銀どっちを残す？
          br
      td
        h4= '問題６　３手詰'
        img(src="assets/img/tokeure/archive/ren/13/0306.jpg" align="bottom" width="275" height="251" border="0")
        p
          | ヒント：飛の打ち場所を発見してね！
          br
    tr
      td
        h4= '問題７　３手詰'
        img(src="assets/img/tokeure/archive/ren/13/0307.jpg" align="bottom" width="275" height="251" border="0")
        p= 'ヒント：逃げ道をふさぐ妙手を発見してね。'
        br
      td
        h4= '問題８　３手詰'
        img(src="assets/img/tokeure/archive/ren/13/0308.jpg" align="bottom" width="275" height="251" border="0")
        p= 'ヒント：飛の守りをそらします。'
        br
    tr
      td
        h4= '問題９　３手詰'
        img(src="assets/img/tokeure/archive/ren/13/0309.jpg" align="bottom" width="275" height="251" border="0")
        p
          | ヒント：ズバリ妙手は？
          br
          br
      td
        h4= '問題１０　３手詰'
        img(src="assets/img/tokeure/archive/ren/13/0310.jpg" align="bottom" width="275" height="251" border="0")
        p
          | ヒント：飛車のさばき方は？
          br
          | 登場８回　藤井　憲郎　様
          br
    tr
      td
        h4= '問題１１　５手詰'
        img(src="assets/img/tokeure/archive/ren/13/0311.jpg" align="bottom" width="275" height="251" border="0")
        p
          | ヒント：基本形ですから覚えてね。
          br
      td
        h4= '問題１２　５手詰'
        img(src="assets/img/tokeure/archive/ren/13/0312.jpg" align="bottom" width="275" height="251" border="0")
        p
          | ヒント：初手はズバリ妙手です。
          br
    tr
      td
        h4= '問題１３　５手詰'
        img(src="assets/img/tokeure/archive/ren/13/0313.jpg" align="bottom" width="275" height="251" border="0")
        p
          | ヒント：やさしそうで手ごわい！
          br
          | 登場６５回　大森　常一　様
          br
      td
        h4= '問題１４　５手詰'
        img(src="assets/img/tokeure/archive/ren/13/0314.jpg" align="bottom" width="275" height="251" border="0")
        p
          | ヒント：迷路に迷い込むと大変！
          br
          | 登場９回　藤井　憲郎　様
          br
    tr
      td
        h4= '問題１５　５手詰'
        img(src="assets/img/tokeure/archive/ren/13/0315.jpg" align="bottom" width="275" height="251" border="0")
        p
          | ヒント：飛と金どっちを先に使うかがポイント！
          br
          | 登場１０回　藤井　憲郎　様
          br
      td
        h4= '問題１６　７手詰'
        img(src="assets/img/tokeure/archive/ren/13/0316.jpg" align="bottom" width="275" height="251" border="0")
        p
          | ヒント：角をさばいてから。
          br
          br
    tr
      td
        h4= '問題１７　７手詰'
        img(src="assets/img/tokeure/archive/ren/13/0317.jpg" align="bottom" width="275" height="251" border="0")
        p
          | ヒント：飛の特性を生かして。
          br
          br
      td
        h4= '問題１８　９手詰'
        img(src="assets/img/tokeure/archive/ren/13/0318.jpg" align="bottom" width="275" height="251" border="0")
        p
          | ヒント：合い駒は何でしょうか？
          br
          | 登場６回　北村　憲一　様
          br
    tr
      td
        h4= '問題１９　９手詰'
        img(src="assets/img/tokeure/archive/ren/13/0319.jpg" align="bottom" width="275" height="251" border="0")
        p
          | ヒント：駒の打ち替えの筋です。
          br
          | 登場１１回　井上　賢一　様
          br
      td
        h4= '問題２０　９手詰'
        img(src="assets/img/tokeure/archive/ren/13/0320.jpg" align="bottom" width="275" height="251" border="0")
        p
          | ヒント：守りの角をうまく動かす手。
          br
          | 登場１０回　高見　秀夫　様
          br