center
  div(style="background-color: Teal;")
    h3(style="color: white;")= '詰将棋練習問題　１～１７題　２０１３年２月'
  table
    tr
      td
        h4= '問題１　３手詰'
        img(src="assets/img/tokeure/archive/ren/13/0201.jpg" align="bottom" width="275" height="251" border="0")
        p= 'ヒント：思い切った手です。'
        br
      td
        h4= '問題２　３手詰'
        img(src="assets/img/tokeure/archive/ren/13/0202.jpg" align="bottom" width="275" height="251" border="0")
        p= 'ヒント：並べ打ちですよ'
        br
    tr
      td
        h4= '問題３　３手詰'
        img(src="assets/img/tokeure/archive/ren/13/0203.jpg" align="bottom" width="275" height="251" border="0")
        p= 'ヒント：並べ打ちですが、打ち場所に注意。'
        br
      td
        h4= '問題４　３手詰'
        img(src="assets/img/tokeure/archive/ren/13/0204.jpg" align="bottom" width="275" height="251" border="0")
        p= 'ヒント：妙手を発見してね。'
        br
    tr
      td
        h4= '問題５　３手詰'
        img(src="assets/img/tokeure/archive/ren/13/0205.jpg" align="bottom" width="275" height="251" border="0")
        p
          | 妙手を発見してね。
          br
          br
      td
        h4= '問題６　３手詰'
        img(src="assets/img/tokeure/archive/ren/13/0206.jpg" align="bottom" width="275" height="251" border="0")
        p
          | ヒント：飛の打ち場所に工夫します。
          br
          | 出題　登場２回目　佐藤　孝　様
          br
    tr
      td
        h4= '問題７　３手詰'
        img(src="assets/img/tokeure/archive/ren/13/0207.jpg" align="bottom" width="275" height="251" border="0")
        p= 'ヒント：飛をいつ動かすか？'
        br
      td
        h4= '問題８　３手詰'
        img(src="assets/img/tokeure/archive/ren/13/0208.jpg" align="bottom" width="275" height="251" border="0")
        p= 'ヒント：開き王手ネライ。'
        br
    tr
      td
        h4= '問題９　５手詰'
        img(src="assets/img/tokeure/archive/ren/13/0209.jpg" align="bottom" width="275" height="251" border="0")
        p
          | ヒント：基本手筋です。
          br
          br
      td
        h4= '問題１０　５手詰'
        img(src="assets/img/tokeure/archive/ren/13/0210.jpg" align="bottom" width="275" height="251" border="0")
        p
          | ヒント：打歩詰めの打開策。
          br
          | 出題　登場６回　中出　慶一　様
          br
    tr
      td
        h4= '問題１１　５手詰'
        img(src="assets/img/tokeure/archive/ren/13/0211.jpg" align="bottom" width="275" height="251" border="0")
        p
          | ヒント：限定打！
          br
          | 出題　登場７回　中出　慶一　様
          br
      td
        h4= '問題１２　５手詰'
        img(src="assets/img/tokeure/archive/ren/13/0212.jpg" align="bottom" width="275" height="251" border="0")
        p
          | ヒント：限定打！
          br
          br
    tr
      td
        h4= '問題１３　５手詰'
        img(src="assets/img/tokeure/archive/ren/13/0213.jpg" align="bottom" width="275" height="251" border="0")
        p
          | ヒント：逃がさないようにうまく攻めてね！
          br
          br
      td
        h4= '問題１４　７手詰'
        img(src="assets/img/tokeure/archive/ren/13/0214.jpg" align="bottom" width="275" height="251" border="0")
        p
          | ヒント：打ち歩詰めの打開策。
          br
          | 出題　登場８回　中出　慶一　様
          br
    tr
      td
        h4= '問題１５　７手詰'
        img(src="assets/img/tokeure/archive/ren/13/0215.jpg" align="bottom" width="275" height="251" border="0")
        p
          | ヒント：捨てる順序に注意。
          br
          br
      td
        h4= '問題１６　７手詰'
        img(src="assets/img/tokeure/archive/ren/13/0216.jpg" align="bottom" width="275" height="251" border="0")
        p
          | ヒント：初手と３手目が妙手。
          br
          br
    tr
      td
        h4= '問題１７　９手詰'
        img(src="assets/img/tokeure/archive/ren/13/0217.jpg" align="bottom" width="275" height="251" border="0")
        p
          | ヒント：合い駒は何でしょうか？
          br
          | 出題　登場５回　北村　憲一　様
      td