center
  div(style="background-color: Teal;")
    h3(style="color: white;") #{title}
  div.row
    for val, index in ren
      div.col-xs-12.col-sm-6
        h4 #{val.title}
        img(src="#{val.image}" align="bottom" width="275" height="251" border="0")
        p
          | #{val.hint}
          br
          | #{val.author}
          br
