nav.navbar.navbar-fixed-top.navbar-inverse
  div.container
    div.navbar-header
      button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
        span.sr-only= 'Toggle navigation'
        span.icon-bar
        span.icon-bar
        span.icon-bar
        span.icon-bar
        span.icon-bar
        span.icon-bar
    div#navbar.collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          a(href="index.html")= 'トップページ'
        li
          a(href="nav_about.html")= '発足にあたり'
        li
          a(href="nav_rinen-jigyou.html")= '基 本 理 念'
        li
          a(href="nav_kaisoku.html")= '会則・事業概要'
        li
          a(href="nav_free_paper.html")= 'フリーペーパー'
        li
          a(href="nav_free_paper_provisions.html")= 'フリーペーパー規定'
        li
          a(href="nav_free_papersoukan.html")= 'Ｆ．Ｐ 創刊のご挨拶'