nav.navbar.navbar-fixed-top.navbar-inverse
  div.container
    div.navbar-header
      button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
        span.sr-only= 'Toggle navigation'
        span.icon-bar
        span.icon-bar
        span.icon-bar
        span.icon-bar
        span.icon-bar
        span.icon-bar
    div#navbar.collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          a(href="index.html")= 'トップページ'
        li
          a(href="nav_hossoku.html")= '発足にあたり'
        li
          a(href="nav_rinen.html")= '基 本 理 念'
        li
          a(href="nav_kaisoku.html")= '会則・事業概要'
        li
          a(href="tokeure_index.html")= '解けてうれしい詰将棋へ'