div.list-group
  //- 解けてうれしい詰将棋 list-group-item
  div.dropdown.list-group-item
    a.dropdown-toggle#tokeure(data-toggle="dropdown", aria-expanded="true", style="color: #000000")= '解けてうれしい詰将棋'
      span.caret
    ul.dropdown-menu(role="menu", aria-labelledby="tokeure")
      li(role="presentation")
        a(role="menuitem", tabindex="-1", href="main_tokeure.html")= 'ご案内'
      li(role="presentation")
        a(role="menuitem", tabindex="-1", href="main_tokeure_tuushin.html")= '解けうれ通信'
      li(role="presentation")
        a(role="menuitem", tabindex="-1", href="tokeure_index.html")= '解けてうれしい詰将棋'
      li(role="presentation")
        a(role="menuitem", tabindex="-1", href="main_tokeure_sousaku.html")= '創作問題ご提供のお願い'
  
  //- 海老原辰夫詰将棋手筋集コーナー list-group-item
  div.dropdown.list-group-item
    a.dropdown-toggle#ebihara(data-toggle="dropdown", aria-expanded="true", style="color: #000000")= '海老原辰夫詰将棋手筋集'
      span.caret
    ul.dropdown-menu(role="menu", aria-labelledby="ebihara")
      li(role="presentation")
        a(role="menuitem", tabindex="-1", href="main_ebihara_tumepara.html")= '詰将棋パラダイス'
      li(role="presentation")
        a(role="menuitem", tabindex="-1", href="main_ebihara_penkurabu.html")= '将棋ペン倶楽部'
      li(role="presentation")
        a(role="menuitem", tabindex="-1", href="main_ebihara_tumepara_kekka.html")= '詰将棋パラダイス　当選結果'
      li(role="presentation")
        a(role="menuitem", tabindex="-1", href="main_ebihara_penkurabu_kekka.html")= '将棋ペン倶楽部　当選結果'
  
  a.list-group-item(href="main_tokeen.html")= 'HOW TO CHECKMATE'
  a.list-group-item(href="main_week.html")= 'Weekly詰将棋'
  a.list-group-item(href="main_action.html")= 'EVENT & ACTION'
  a.list-group-item(href="main_mondaiteikyou.html")= '詰将棋新題提供のご案内'
  
  //- おすすめサイト list-group-item
  div.dropdown.list-group-item
    a.dropdown-toggle#osusumeSite(data-toggle="dropdown", aria-expanded="true", style="color: #000000")= 'おすすめサイト'
      span.caret
    ul.dropdown-menu(role="menu" aria-labelledby="osusumeSite")
      li(role="presentation")
        a(role="menuitem", tabindex="-1", href="http://zuisou66788.blog69.fc2.com/")= '私の思うまま随想'
      li(role="presentation")
        a(role="menuitem", tabindex="-1", href="http://www005.upp.so-net.ne.jp/tsumepara/")= '詰将棋パラダイス'
      li(role="presentation")
        a(role="menuitem", tabindex="-1", href="http://joshi-shogi.com/")= '日本女子プロ将棋協会'
      li(role="presentation")
        a(role="menuitem", tabindex="-1", href="http://www.shogi.or.jp/")= '日本将棋連盟'
  
  //- リンクサイト list-group-item
  div.dropdown.list-group-item
    a.dropdown-toggle#linkSite(data-toggle="dropdown", aria-expanded="true", style="color: #000000")= 'リンクサイト'
      span.caret
    ul.dropdown-menu(role="menu", aria-labelledby="linkSite")
      li(role="presentation")
        a(role="menuitem", tabindex="-1", href="http://s9ss.jugem.jp/")= '佐伯九段将棋サロン'
      li(role="presentation")
        a(role="menuitem", tabindex="-1", href="http://homepage3.nifty.com/1banboshi/")= '詰将棋一番星'
      li(role="presentation")
        a(role="menuitem", tabindex="-1", href="http://shogi-isps.org/homepage/")= '将棋を世界に広める会'
      li(role="presentation")
        a(role="menuitem", tabindex="-1", href="http://www.geocities.jp/syoginosato/")= '将棋の里山形とゆうまのホームページ'
  
  //- お問合せ list-group-item
  div.dropdown.list-group-item
    a.dropdown-toggle#otoiawase(data-toggle="dropdown", aria-expanded="true", style="color: #000000")= 'お問合せ'
      span.caret
    ul.dropdown-menu(role="menu", aria-labelledby="otoiawase")
      li(role="presentation")
        a(role="menuitem", tabindex="-1", href="mailto:kaitou6678@yahoo.co.jp")= 'kaitou6678@yahoo.co.jp'