mixin archive_list(year)
  - var input=year
  center
    h3(style="color: #0000ff") 20#{input}年度　各アーカイブ
    table
      tr
        td
          p= '懸賞問題'
        td
          a(target="_blank" onClick="loadArchieve('./tokeure_archive/ken#{input}01.html')")= '　１月'
        td
          a(target="_blank" onClick="loadArchieve('./tokeure_archive/ken#{input}02.html')")= '　２月'
        td
          a(target="_blank" onClick="loadArchieve('./tokeure_archive/ken#{input}03.html')")= '　３月'
        td
          a(target="_blank" onClick="loadArchieve('./tokeure_archive/ken#{input}04.html')")= '　４月'
        td
          a(target="_blank" onClick="loadArchieve('./tokeure_archive/ken#{input}05.html')")= '　５月'
        td
          a(target="_blank" onClick="loadArchieve('./tokeure_archive/ken#{input}06.html')")= '　６月'
        td
          a(target="_blank" onClick="loadArchieve('./tokeure_archive/ken#{input}07.html')")= '　７月'
        td
          a(target="_blank" onClick="loadArchieve('./tokeure_archive/ken#{input}08.html')")= '　８月'
        td
          a(target="_blank" onClick="loadArchieve('./tokeure_archive/ken#{input}09.html')")= '　９月'
        td
          a(target="_blank" onClick="loadArchieve('./tokeure_archive/ken#{input}10.html')")= '　10月'
        td
          a(target="_blank" onClick="loadArchieve('./tokeure_archive/ken#{input}11.html')")= '　１１月'
        td
          a(target="_blank" onClick="loadArchieve('./tokeure_archive/ken#{input}12.html')")= '　１２月'
      tr
        td
          p= '詰将棋練習問題'
        td
          a(target="_blank" onClick="loadArchieve('./tokeure_archive/ren#{input}01.html')")= '　１月'
        td
          a(target="_blank" onClick="loadArchieve('./tokeure_archive/ren#{input}02.html')")= '　２月'
        td
          a(target="_blank" onClick="loadArchieve('./tokeure_archive/ren#{input}03.html')")= '　３月'
        td
          a(target="_blank" onClick="loadArchieve('./tokeure_archive/ren#{input}04.html')")= '　４月'
        td
          a(target="_blank" onClick="loadArchieve('./tokeure_archive/ren#{input}05.html')")= '　５月'
        td
          a(target="_blank" onClick="loadArchieve('./tokeure_archive/ren#{input}06.html')")= '　６月'
        td
          a(target="_blank" onClick="loadArchieve('./tokeure_archive/ren#{input}07.html')")= '　７月'
        td
          a(target="_blank" onClick="loadArchieve('./tokeure_archive/ren#{input}08.html')")= '　８月'
        td
          a(target="_blank" onClick="loadArchieve('./tokeure_archive/ren#{input}09.html')")= '　９月'
        td
          a(target="_blank" onClick="loadArchieve('./tokeure_archive/ren#{input}10.html')")= '　10月'
        td
          a(target="_blank" onClick="loadArchieve('./tokeure_archive/ren#{input}11.html')")= '　１１月'
        td
          a(target="_blank" onClick="loadArchieve('./tokeure_archive/ren#{input}12.html')")= '　1２月'
      tr
        td
          p= '詰か必至か不必至か'
        td
          a(target="_blank" onClick="loadArchieve('./tokeure_archive/TK#{input}01.html')")= '　１月'
        td
          a(target="_blank" onClick="loadArchieve('./tokeure_archive/TK#{input}02.html')")= '　２月'
        td
          a(target="_blank" onClick="loadArchieve('./tokeure_archive/TK#{input}03.html')")= '　３月'
        td
          a(target="_blank" onClick="loadArchieve('./tokeure_archive/TK#{input}04.html')")= '　４月'
        td
          a(target="_blank" onClick="loadArchieve('./tokeure_archive/TK#{input}05.html')")= '　５月'
        td
          a(target="_blank" onClick="loadArchieve('./tokeure_archive/TK#{input}06.html')")= '　６月'
        td
          a(target="_blank" onClick="loadArchieve('./tokeure_archive/TK#{input}07.html')")= '　７月'
        td
          a(target="_blank" onClick="loadArchieve('./tokeure_archive/TK#{input}08.html')")= '　８月'
        td
          a(target="_blank" onClick="loadArchieve('./tokeure_archive/TK#{input}09.html')")= '　９月'
        td
          a(target="_blank" onClick="loadArchieve('./tokeure_archive/TK#{input}10.html')")= '　10月'
        td
          a(target="_blank" onClick="loadArchieve('./tokeure_archive/TK#{input}11.html')")= '　１１月'
        td
          a(target="_blank" onClick="loadArchieve('./tokeure_archive/TK#{input}12.html')")= '　１２月'
      tr
        td
          p= 'ビックリドッキリ１手詰'
        td
          a(target="_blank" onClick="loadArchieve('./tokeure_archive/BK#{input}01a.html')")= '　１月'
        td
          a(target="_blank" onClick="loadArchieve('./tokeure_archive/BK#{input}02a.html')")= '　２月'
        td
          a(target="_blank" onClick="loadArchieve('./tokeure_archive/BK#{input}03a.html')")= '　３月'
        td
          a(target="_blank" onClick="loadArchieve('./tokeure_archive/BK#{input}04a.html')")= '　４月'
        td
          a(target="_blank" onClick="loadArchieve('./tokeure_archive/BK#{input}05a.html')")= '　５月'
        td
          a(target="_blank" onClick="loadArchieve('./tokeure_archive/BK#{input}06a.html')")= '　６月'
        td
          a(target="_blank" onClick="loadArchieve('./tokeure_archive/BK#{input}07a.html')")= '　７月'
        td
          a(target="_blank" onClick="loadArchieve('./tokeure_archive/BK#{input}08a.html')")= '　８月'
        td
          a(target="_blank" onClick="loadArchieve('./tokeure_archive/BK#{input}09a.html')")= '　９月'
        td
          a(target="_blank" onClick="loadArchieve('./tokeure_archive/BK#{input}10a.html')")= '　10月'
        td
          a(target="_blank" onClick="loadArchieve('./tokeure_archive/BK#{input}11a.html')")= '　１１月'
        td
          a(target="_blank" onClick="loadArchieve('./tokeure_archive/BK#{input}12a.html')")= '　１２月'
  br
  div#display
  script
    | function loadArchieve(path) {
    |   $("#display").load(
    |     path,
    |     null,
    |     function(responseText, status, XMLHttpRequest) {
    |       if(status=='error') {
    |         $("#display").load('./tokeure_archive/noContent.html');
    |       }
    |     }
    |   );
    | }
    | window.onload = function(){
    |   loadArchieve('./tokeure_archive/ken#{input}01.html');
    | }