extends ./templates/template.jade

block content
  //-  活動メニュー　テーブルはここから
  table(cellspacing="0" width="700" cellpadding="0")
    tr
      td
        div#size
          h2(style="MARGIN: 10px 0px 5px 10px;")
            b= '活動内容一覧'
          div#iro1
            | 将棋を孫に伝える会の活動です
            h3= '私達は将棋の普及を目指すすべての個人・団体を支援します'
          //-  活動ギャラリィーここから
          div.gallery
            //-  活動項目ここから
            dl
              dt= '2014年10月 2日'
              dd
                a(href="http://www.geocities.jp/syougi_mago/kodomosyougi/oyakokyousitu14-10.html")
                  | 親子で学ぶ！　将棋教室！　会場：大津市市民活動センター交流スペース
              dd.comment
                | 開催日：　１０月４日、１１日　　１１月１日、８日　各土曜日
                br
                | 場　 所：　大津市市民活動センター交流スペース：明日都１階会議室
                br
                | 対　 象：　幼稚園生（５才～）～小学校六年生；親子で参加
                br
                | 参加費：　教材費５００円（お子様１名１ヶ月につき）
                br
                | ・・・「将棋」は子供たちが楽しみながら、「集中するとは何か」を学ぶ最高のゲームです。
                | また「脳の活性化」はもちろんのこと「礼儀作法」「相手を思いやる心」「負けた時の心の整理」など多くのことを学びます。
                br
                | この教室は
                a(href="http://www.shogi.or.jp/kyoushitsu/zenkoku_list/kinki/11-815-1.html")
                  | 日本将棋連盟のホームページに「親子で学ぶ！将棋教室」
                | として案内されていますのでご参考まで。
            //-  活動項目ここから
            dl
              dt= '2014年8月26日'
              dd
                a(href="http://www.geocities.jp/syougi_mago/kodomosyougi/oyakokyousitu14-9.html")
                  | 親子で学ぶ！　将棋教室！　会場：大津市市民活動センター交流スペース
              dd.comment
                | 開催日：　９月　３日、１０日、１７日、２４日
                br
                | 場　 所：　大津市市民活動センター交流スペース：明日都１階
                br
                | 対　 象：　幼稚園生（５才～）～小学校六年生；親子で参加
                br
                | 参加費：　無料！
                br
                | ・・・「将棋」は子供たちが楽しみながら、「集中するとは何か」を学ぶ最高のゲームです。
                | また「脳の活性化」はもちろんのこと「礼儀作法」「相手を思いやる心」「負けた時の心の整理」など多くのことを学びます。
                br
                | この教室は日本将棋連盟のホームページに「親子で学ぶ！将棋教室」として案内されていますのでご参考まで。
            //-  活動項目ここから
            dl
              dt= '2013年5月12日'
              dd
                a(href="http://www.geocities.jp/syougi_mago/kodomosyougi/act-13.5.16.html")
                  | こども将棋大会開催！　主催：膳所駅前商店街　後援：西武大津店、平野小学校ＰＴＡ
              dd.comment
                | ・・・今年で２年目西武大津店５Ｆで子供将棋大会を開催！３６名の男の子や女の子達の熱戦！京都新聞・読売新聞の取材もあり。
            //-  活動項目ここから
            dl
              dt= '2013年5月16日'
              dd
                a(href="http://www.geocities.jp/syougi_mago/kodomosyougi/act-13.4.14.html")
                  | 京都宇治公民館で将棋大会を後援する。
              dd.comment
                | ・・・今年で９年連続の開催で地元に人気の将棋大会！
            //-  活動項目ここから
            dl
              dt= '2012年10月17～18日'
              dd
                a(href="http://www.geocities.jp/syougi_mago/kodomosyougi/tokimeki1210.html")
                  | ZEZEときめき坂　こども将棋大会
              dd.comment
                | ・・・滋賀県大津市膳所駅前にて「ＺＥＺＥときめき坂ハロウィン2012」の一環として開催しました。