extends ./templates/template.jade

block content
  //-  ここからは画像と説明文のテーブル
  table(align="center" cellpadding="0" cellspacing="0" width="700" style="BACKGROUND-COLOR: #ffffff")
    tr
      td(align="left" valign="top" style="padding:20px 20px 50px 20px;")
        img(src="assets/img/ebihara/oc-mono.jpg" width="100" height="65" border="0" align="right" style="margin:-15px 10px 0 0;")
        p(style="line-height:120%; margin:0 0 0 10px; font-size:11pt;" align="left")= '＜詰将棋パラダイス＞'
        p(style="line-height:120%; margin:0 ; font-size:18pt;" align="center")
          b= '「海老原辰夫詰将棋手筋集」を刊行'
        br
        p(style="line-height:120%; margin:0 5px 0 10px; font-size:11pt;" align="left")
          | 　この度、「将棋を孫に伝える会」では「海老原辰夫詰将棋手筋集」を「解けてうれしい増刊号」として発行いたしました。
          br
          | ３手詰～９手詰、合計１００問。
          | Ｂ７版ポケットサイズ６４頁。
          | 初級向好形作が満載です。
          | 同氏は著名な詰将棋作家で「将棋世界」「近代将棋」「詰将棋パラダイス誌」（同人作家）などで大活躍。
          | アマ強豪としても大変有名です。
          br
          | 　今回、海老原氏の新題を懸賞出題いたします。正解者の中から抽選で５名様に本書をプレゼントいたします。
          br
          br
        table(align="center" cellpadding="0" cellspacing="0" width="100%")
          tr
            td
              p(style="line-height:120%; margin:0 5px 0 10px; font-size:11pt;" align="left")
                b= '懸賞新題　海老原辰夫氏作　１１手詰'
                img(src="assets/img/ebihara/para.jpg" align="left" width="260" height="194" border="0" style="margin:5px 10px 0px 10px;")
                p(style="line-height:120%; margin:20px 0 0 10px; font-size:11pt;" align="left")
                  b= '懸賞締切日…'
                  br
                  | 平成２６年１２月末日。
                  a(href="main_ebihara_tumepara_kekka.html" style="color: blue;")= '当選者発表はこのＨＰにて'
                  br
                  br
                  b= '懸賞応募先…'
                  br
                  | 「将棋を孫に伝える会」 三宅英治 まで
                  br
                  | 520-0025 大津市皇子が丘2-4-10-505
                  br
                  | 携帯:090-6678-3012　メール:kaitou6678@yahoo.co.jp
                  br
                  br
                  | 解答・問い合わせは
                  a(href="mailto:kaitou6678@yahoo.co.jp" style="color: blue;")= '☆こちら☆'
                  | まで！
        br
        p(style="line-height:120%; margin:0 5px 0 10px; font-size:11pt;" align="left")
          | 海老原辰夫氏について
          br
          | 　詰将棋作家海老原辰夫氏は難解派のイメージが強く、中短編の力作を詰パラ、将棋世界、近代将棋等々に数多くの力作を発表されています。
          | 平成24年11月大学院発表の５７手詰は同氏としては異色かもしれません。
          | 長編作と言うより、構想型の中編力作のように感じます。
          | 氏の詰将棋はアマ強豪としての棋力を存分に発揮しての創作と見受けられます。
          br
          | 　あぶり出し曲詰にも力量を発揮されました。
          | 平成22年7月号に同人作家記念作としてあぶり出し曲詰「リ」「エ」「コ」の３作を発表して大好評を得ました。
          | 同氏が人気女流棋士矢内理絵子さんの少女時代の師匠であることからの趣向でした。
          br
          br
          | 　「将棋を孫に伝える会」では「盤と駒による世代間コミュニケーション」を広く呼びかけ、「将棋ファン」「詰将棋ファン」の底辺拡大のための活動を続けております。
          | 「解けてうれしい詰将棋」の発行はその一環です。
          br
          | 　今回の増刊号は子供達への普及に最適な小冊子に仕上がりました。
          | 将棋を普及指導されている皆様から多くの子供達に配布頂ければと思います。　
          br
          br
          | ●　サンプル進呈１冊〒ともに３００円。（９冊までは単価２００円＋送料１００円）
          br
          | ●　１０冊以上単価１７０円（送料込）。５０冊以上単価１４０円（送料込）。
          br
        br
        //-
          <table border="0" cellspacing="0" cellpadding="0" width="360" align="right" height="100%" style="Z-INDEX: 0; BORDER-BOTTOM: thin dashed; BORDER-LEFT: thin dashed; BORDER-TOP: thin dashed; RIGHT: 20px; BORDER-RIGHT: thin dashed; PADDING: 10px 10px 0 10px; margin: 0 10px 0 0;">
            <tr>
              <td>
                <p style="line-height:120%; margin:0; font-size:11pt;" align="left">
                  〒520-0025 滋賀県大津市皇子が丘2-4-10-505<br>
                  「将棋を孫に伝える会」　三宅　英治<br>
                  携帯: 090-6678-3012　 Mail: eij6678@hotmail.co.jp<br>
                  HP: http://www.geocities.jp/syougi_mago/
                </p>
              </td>
            </tr>
          </table>