extends ./templates/template.jade

block content
  //-  ここからは画像と説明文のテーブル
  table(align="center" cellpadding="0" cellspacing="0" width="700" style="BACKGROUND-COLOR: #ffffff")
    tr
      td(align="left" valign="top" style="padding:20px 20px 50px 20px;")
        img(src="http://www.geocities.jp/syougi_mago/gazou/oc-mono.jpg" width="100" height="65" border="0" align="right" style="margin:-15px 10px 0 0;")
        p(style="line-height:120%; margin:0 0 0 10px; font-size:11pt;" align="left")= '＜詰将棋パラダイス＞'
        p(style="line-height:120%; margin:0 ; font-size:18pt;" align="center")
          b= '詰パラ　海老原懸賞結果'
        br
        dl
          dt= '＜１２＞東京都　塚崎　彰仁　様'
          dt= '＜１１＞神戸市　宇貞　光明　様'
          dd= '　　　　　２手目の変化がわかれば後はスムース。作者の中編は難解作が多く、苦しめられます。'
          dt= '＜１０＞串間市　無漏田　暁　様'
          dd= '　　　　　見事な手順の連続でした。５手目が重要、飛の見事な働き。'
          dt= '＜９＞府中市　前　文人　様'
          dt= '＜８＞浦安市　赤井　秀雄　様'
          dd= '　　　　　当年８０才です。'
          dt= '＜７＞五所川原市　毛内　敏雄　様'
          dt= '＜６＞大阪市　丸山　よしと　様'
          dd= '　　　　　３二馬が見えづらかったです。'
          dt= '＜５＞甲斐市　門田　和雄　様'
          dd= '　　　　　桂の連続捨て駒から馬捨ての収束は気持ちがいいです。'
          dt= '＜４＞徳島市　中瀬　俊昭　様'
          dt= '＜３＞塩尻市　山田　孝典　様'
          dt= '＜２＞　　　　　　嶋村　弘志　様'
          dd= '　　　　　詰将棋創作の勉強になります。'
          dt= '＜１＞東京都　伊藤　美昭　様'
          dd= '　　　　　2手目の変化がわからず時間がかかった。'
        br
        p(style="line-height:120%; margin:0 5px 0 10px; font-size:11pt;" align="left")
          | 　全国各地からご応募ありがとうございました。太字の５名の皆様に「海老原辰夫詰将棋手筋集」をプレゼントいたします。
          br
          br
          | 　「詰将棋パラダイス１２月号」掲載の懸賞出題は締め切りましたが、
          a(href="http://www.geocities.jp/syougi_mago/ebihara/penkurabu.html" style="color: blue;")= '「将棋ペン倶楽部通信４４号」掲載の懸賞出題'
          | の締切は平成27年1月末日です。別問題ですので奮ってご応募下さい。
          br
        //-
          <table border="0" cellspacing="0" cellpadding="0" width="360" align="right" height="100%" style="Z-INDEX: 0; BORDER-BOTTOM: thin dashed; BORDER-LEFT: thin dashed; BORDER-TOP: thin dashed; RIGHT: 20px; BORDER-RIGHT: thin dashed; PADDING: 10px 10px 0 10px; margin: 0 10px 0 0;">
            <tr>
              <td>
                <p style="line-height:120%; margin:0; font-size:11pt;" align="left">
                  〒520-0025 滋賀県大津市皇子が丘2-4-10-505<br>
                  「将棋を孫に伝える会」　三宅　英治<br>
                  携帯: 090-6678-3012　 Mail: eij6678@hotmail.co.jp<br>
                  HP: http://www.geocities.jp/syougi_mago/
                </p>
              </td>
            </tr>
          </table>