extends ./templates/template.jade

block content
  div(style="background-color : white")
    center
      h2= 'ＨＯＷ　ＴＯ　ＣＨＥＣＫＭＡＴＥ のご案内'
        br
        small= '解けてうれしい詰将棋の英訳版'
    div.row
      div.col-xs-12.col-sm-7
        img.img-responsive(src="assets/img/tokeen/Howto01.png")
        h2
          font(color="#e6a024" face="Meiryo UI")= '詰将棋・英語版'
          br
          font(color="#3c2415" face="Meiryo UI")= 'HOW TO CHECKMATE'
        p
          font(color="#3c2415" face="Meiryo UI")
            strong= '将棋の終盤の手筋'
          br
          font(color="#000000")
            | 完全英語版の将棋の終盤の手筋・読みである詰将棋を約４０問、Ｂ７サイズで冊子にしました。
            br
            | はじめたばかりの初心者の方から中級、上級者の皆様に楽しんでいただける冊子。棋力アップにも役立つ冊子です。
            br
            | 海外の方々にプレゼントして下さい。
          font(color="#000000" face="Meiryo UI")
            p.MsoNormal(style="LINE-HEIGHT: 12pt; MARGIN: 0; mso-line-height-rule: exactly")
              span(style="FONT-SIZE: 10pt")
                | 日本の伝統・文化の一つである将棋を伝えたい、
                br
                | 楽しみを伝えたい、世界の人に、子供から大人まで。
                br
                | 時を超えて、繋げたい、次の世代にも、
                br
                | 盤と駒を使った大切なコミニュケーション。
        p(style="LINE-HEIGHT: 120%; MARGIN: 0px; FONT-SIZE: 9pt" align="left")
          span(style="FONT-SIZE: 10pt")
            font(color="#000000" face="Meiryo UI")
              strong
                | 【お求め等】
                br
                | １０冊８００円と、送料８０円で合計８８０円（税込）です。
                br
                | また、申込みは１０冊以上でお願いしています。
        br
      div.col-xs-12.col-sm-5
        div(style="background-color : #00a59b")
          p.text-left(style="color : white")
            br
            | 初心者から中級者上級者にも扱える１～７手詰め問題を掲載。簡単な問題から難しい問題で構成。
          hr
          p.text-left(style="color : white")
            | 海外向けの詰将棋本としては珍しい。今回約４０問掲載。携帯性がありB7サイズでコンパクト、手に納まります。
          hr
          p.text-left(style="color : white")
            | 英語版で作成！問題図は大きく見やすく、ヒントも示し解答も掲載しました。
          hr
          center
            img.img-responsive(src="assets/img/tokeen/tirasimondai.png")
        div(style="background-color : #e6a024")
          p.text-left
            b(style="mso-bidi-font-weight: normal")
              span(style="color: white; mso-themecolor: background1")
                font(face="Meiryo UI")
                  font(size="3")
                    | 将棋を孫に伝える会
                    br
                    | 担当　三宅　まで
                    br
                  font(size="2")
                    | TEL 090-6678-3012
                    br
                    | kaitou6678@yahoo.co.jp