extends ./templates/template.jade

block content
  //-  ここからは画像と説明文のテーブル
  table(align="center" cellpadding="0" cellspacing="0" width="700" style="BACKGROUND-COLOR: #ffffff")
    tr
      td(align="left" valign="top" style="padding:20px 20px 50px 20px;")
        img(src="http://www.geocities.jp/syougi_mago/gazou/oc-mono.jpg" width="100" height="65" border="0" align="right" style="margin:-15px 10px 0 0;")
        p(style="line-height:120%; margin:0 0 0 10px; font-size:11pt;" align="left")= '＜将棋ペンクラブ会報＞'
        p(style="line-height:120%; margin:0; font-size:18pt;" align="center")
          b= '将棋ペンクラブ　海老原懸賞結果'
        br
        p(style="line-height:120%; margin:0 5px 0 10px; font-size:11pt;" align="left")
          | 全国各地からご応募ありがとうございました。太字の５名の皆様に「海老原辰夫詰将棋手筋集」をプレゼントいたします。
          br
          | 「将棋ペン倶楽部通信４４号」掲載の懸賞出題は終了いたしましたが、「解けてうれしい詰将棋５月号」に別問題を新しく懸賞出題いたしますので奮ってご応募下さい。
        br
        dl
          dt= '松戸市　曽我部　敦史　様'
          dt= '大津市　兒玉　龍佶　様'
          dt= '東京都　大野　孝　様'
          dt= '横浜市　滝本　幹夫　様'
          dt= '八幡市　水野　保　様'
          dt= '串間市　無漏田　暁　様'
          dt= '大津市　中尾　文男　様'
          dt= '東京都　塚崎　彰仁　様'
          dt= '京都市　辻　広次　様'
        br
        //- 
          <table border="0" cellspacing="0" cellpadding="0" width="360" align="right" height="100%" style="Z-INDEX: 0; BORDER-BOTTOM: thin dashed; BORDER-LEFT: thin dashed; BORDER-TOP: thin dashed; RIGHT: 20px; BORDER-RIGHT: thin dashed; PADDING: 10px 10px 0 10px; margin: 0 10px 0 0;">
            <tr>
              <td>
                <p style="line-height:120%; margin:0; font-size:11pt;" align="left">
                  〒520-0025 滋賀県大津市皇子が丘2-4-10-505<br>
                  「将棋を孫に伝える会」　三宅　英治<br>
                  携帯: 090-6678-3012　 Mail: eij6678@hotmail.co.jp<br>
                  HP: http://www.geocities.jp/syougi_mago/
                </p>
              </td>
            </tr>
          </table>