extends ./templates/template.jade

block content
  //-  ここからは画像と説明文のテーブル
  table(align="center" cellpadding="0" cellspacing="0" width="700" style="BACKGROUND-COLOR: #ffffff")
    tr
      td(align="left" valign="top" style="PADDING-BOTTOM: 0px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; PADDING-TOP: 0px" width="100%")
        p(align="left")
          b
            font(size="4")= '解けてうれしい詰将棋の英訳版'
        p(align="center")
          b
            font(style="Z-INDEX: 0; TEXT-DECORATION: " size="6")= 'ＨＯＷ　ＴＯ　ＣＨＥＣＫＭＡＴＥ のご案内'
        p(style="LINE-HEIGHT: 120%; MARGIN: 0px; FONT-SIZE: 10pt" align="left")
          table(style="Z-INDEX: 0; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #00a59b; MARGIN: 0px; PADDING-LEFT: 10px; WIDTH: 240px; PADDING-RIGHT: 10px; HEIGHT: 650px; RIGHT: 20px; TEXT-DECORATION: ; PADDING-TOP: 0px" border="0" cellspacing="0" cellpadding="0" align="right")
            tr
              td(style="Z-INDEX: 0; TEXT-DECORATION: " width ="240")
                p(style="MARGIN: 0px" align="left")
                  b(style="mso-bidi-font-weight: normal")
                    span(style="COLOR: white; mso-themecolor: background1")
                      font(face="Meiryo UI" size="4")= '初心者から中級者上級者にも扱える１～７手詰め問題を掲載。簡単な問題から難しい問題で構成。'
                br
                hr(align="center" color="#ffffff" size="2" width="70%")
                br
                p(style="MARGIN: 0px")
                  b(style="mso-bidi-font-weight: normal")
                    span(style="COLOR: white; mso-themecolor: background1")
                      font(face="Meiryo UI" size="4")= '海外向けの詰将棋本としては珍しい。今回約４０問掲載。携帯性がありB7サイズでコンパクト、手に納まります。'
                br
                br
                hr(align="center" color="#ffffff" size="2" width="70%")
                p(style="MARGIN: 0mm 0mm 0pt")
                  b(style="mso-bidi-font-weight: normal")
                    span(style="COLOR: white; mso-themecolor: background1")
                      font(face="Meiryo UI" size="4")
                        br
                        | 英語版で作成！問題図は大きく見やすく、ヒントも示し解答も掲載しました。
                        br
                        br
                hr(align="center" color="#ffffff" size="2" width="70%")
                //-  詰将棋問題の画像の挿入
                p(style="MARGIN: 0mm 0mm 0pt")
                  img(style="Z-INDEX: 0; MARGIN-TOP: 20px; MARGIN-LEFT: 30px; TEXT-DECORATION: " border="0" alt="" src="assets/img/tokeen/tirasimondai.png" width="150" height="152")

        //-  HOW TO画像の挿入
        p(style="LINE-HEIGHT: 120%; MARGIN: 0px 0px 0px 10px; FONT-SIZE: 11pt" align="left")
          img(style="Z-INDEX: 0; WIDTH: 325px; HEIGHT: 450px; MARGIN-LEFT: 30px; TEXT-DECORATION: ; TOP: 20px; LEFT: 40px" border="0" alt="" src="assets/img/tokeen/Howto01.png")
          br
          br
          br
        p
          b(style="mso-bidi-font-weight: normal")
            span(style="LINE-HEIGHT: 70%; FONT-SIZE: 40pt")
              font(color="#e6a024" face="Meiryo UI")= '詰将棋・英語版'
        p
          b(style="mso-bidi-font-weight: normal")
            span(style="mso-ansi-language: EN-US")
              font(size="7")
                font(color="#3c2415")
                  font(face="Meiryo UI")
                    | HOW TO
                    br
                    | CHECKMATE
        p.a(style="LINE-HEIGHT: 100%; MARGIN: 0mm 0mm 0pt")
          font(size="5")
            font(color="#3c2415")
              font(face="Meiryo UI")
                br
                table(style="Z-INDEX: 0; BACKGROUND-COLOR: #e6a024; PADDING-LEFT: 35px; WIDTH: 240px; HEIGHT: 129px; RIGHT: 20px; TEXT-DECORATION: ; PADDING-TOP: 10px" border ="0" cellspacing="0" cellpadding="0" align="right")
                  tbody
                    tr
                      td(style="Z-INDEX: 0; TEXT-DECORATION: ")
                        p(style="MARGIN: 0px" align="left")
                          b(style="mso-bidi-font-weight: normal")
                            span(style="COLOR: white; mso-themecolor: background1")
                              font(face="Meiryo UI")
                                font(size="3")
                                  | 将棋を孫に伝える会
                                  br
                                  | 担当　三宅　まで
                                font(size="2")
                                  | TEL 090-6678-3012
                                  br
                                  | kaitou6678@yahoo.co.jp
                                  br
                                  br
                strong= '将棋の終盤の手筋'
        p(style="LINE-HEIGHT: 120%; MARGIN: 0px 0px 0px 10px; PADDING:0 250px 0 0; FONT-SIZE: 13pt" align="left")
          span(style=" FONT-FAMILY: 'Meiryo UI'; ")
            font(color="#000000")
              | 完全英語版の将棋の終盤の手筋・読みである詰将棋を約４０問、Ｂ７サイズで冊子にしました。
              br
              | はじめたばかりの初心者の方から中級、上級者の皆様に楽しんでいただける冊子。棋力アップにも役立つ冊子です。
              br
              | 海外の方々にプレゼントして下さい。
        table(border="0" cellspacing="0" cellpadding="0" width="425" align="left" height="63" style="Z-INDEX: 0; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 30px; TEXT-DECORATION: ; PADDING-TOP: 10px; LEFT: 0px")
          tbody
            tr
              td
                span(style="FONT-SIZE: 10pt")
                  font(color="#000000" face="Meiryo UI")
                    p.MsoNormal(style="LINE-HEIGHT: 12pt; MARGIN: 0; mso-line-height-rule: exactly")
                      span(style="FONT-SIZE: 10pt")
                        | 日本の伝統・文化の一つである将棋を伝えたい、
                        br
                        | 楽しみを伝えたい、世界の人に、子供から大人まで。
                        br
                        | 時を超えて、繋げたい、次の世代にも、
                        br
                        | 盤と駒を使った大切なコミニュケーション。</p></font></span>
        table(style="Z-INDEX: 0; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-LEFT: 5px; WIDTH: 440px; PADDING-RIGHT: 5px; HEIGHT: 45px; TEXT-DECORATION: ; PADDING-TOP: 5px" border   ="0" cellspacing="0" cellpadding="0" width="440" align="left" height="45")
          tr
            td
              p(style="LINE-HEIGHT: 120%; MARGIN: 0px; FONT-SIZE: 9pt" align="left")
                span(style="FONT-SIZE: 10pt")
                  font(color="#000000" face="Meiryo UI")
                    strong
                      | 【お求め等】
                      br
                      | １０冊８００円と、送料８０円で合計８８０円（税込）です。
                      br
                      | また、申込みは１０冊以上でお願いしています。