extends ./templates/template.jade

block content
  //-  会則本文
  h2.text-center
    b= '基本理念のご案内'
    br
    small
      b= '～「将棋を孫に伝える会」基本理念～'
  h3
    ol
      li= '将棋の普及を目指すすべての個人団体を支援する'
      li= '将棋の普及を通じて広く社会に貢献する'
      li= '将棋の普及活動を通じて得た収益を社会に還元する'
  p.text-right(style="margin-top:0; margin-bottom:0;")= '以　上'
  p.text-right(style="line-height:120%; margin-top:0; margin-bottom:0;")= '平成２３年　５月１日制定'
  p.text-right(style="line-height:120%; margin-top:0; margin-bottom:0;")= '将棋を孫に伝える会'