extends ./templates/template.jade

block content
  //- 会則本文
  h2.text-center
    b= '会則　事業概要・詳細の案内'
    br
    small
      b= '「将棋を孫に伝える会」会則'
  dl
    dt= '第一条（名　称）'
    dd= 'この会は「将棋を孫に伝える会」とする。'
    dt= '第二条（事務局）'
    dd= 'この会は事務局を大津市皇子が丘２-４-１０-５０５、三宅英治に置く。'
    dt= '第三条（目　的）'
    dd= 'この会は「将棋を孫に伝える会基本理念」に則り、広く一般市民並びに子供達に詰将棋を提供し、その理解を深め「将棋」という日本独自の文化の発展・普及に寄与するとともに、子々孫々に伝えていくことを目的とする。'
    dt= '第四条（事業）'
    dd= 'この会は前条の目的を達成するために諸事業を行う。'
    dt= '第五条（役員）'
    dd= 'この会は次の役員を置き任期は２年とする。会長１名、事務局１名、幹事若干名、会計監査１名。役員は会員であることを条件に立候補できる。役員は再選を妨げない。'
    dt= '第六条（入会）'
    dd= 'この会への入会は会費の納入により申し込むことができる。資格は問わない。'
    dt= '第七条（会費および会員資格）'
    dd= '別途定める会費規定に従い、普及用詰将棋冊子「解けてうれしい詰将棋」の会費申込および会費納入をもって会員とみなす。'
    dt= '第八条(会員の義務)'
    dd= '将棋の普及に勤めることを「会員の義務」とする。'
    dt= '第九条（事業の詳細）'
    dd= '会員は協力して将棋の普及のため、もしくは将棋の普及推進を行う個人・団体を支援するために将棋関連の事業を行う。事業の詳細については別途定める'
    dt= '第十条（社会貢献）'
    dd= '前条にて得た収益は社会貢献のために活用する。'
    dt= '第十一条（その他）'
    dd= '囲碁、チェスその他の文化的ゲームを普及する団体とは協力関係を持って活動する。'
    dt= '第十二条（細　則）'
    dd= 'この会則に定めていない事項については役員会の承認を得て細則として施行する。'
    dt= '第十三条（施　行）'
    dd= 'この会則は平成２３年１１月１日より施行する。'
    dt= '第十四条（法人化）'
    dd= '近い将来ＮＰＯ法人へ移行して基本理念を貫くために事業を拡大する。'
  p.text-right(style="margin-top:0; margin-bottom:0;")= '以　上'
  p.text-right(style="line-height:120%; margin-top:0; margin-bottom:0;")= '平成２５年　５月１日改訂'
  p.text-right(style="line-height:120%; margin-top:0; margin-bottom:0;")= '平成２３年１１月１日制定'
  p.text-right(style="line-height:120%; margin-top:0; margin-bottom:0;")= ''
  br
  br
  h2.text-center
    b= '「将棋を孫に伝える会」事業概要・詳細'
  p= '下記の具体例に限らず、「将棋を孫に伝える会」基本理念と共鳴できるすべての将棋 を普及する活動を行う団体個人を支援する活動を行う。'
  dl
    dt= '①「盤」と「駒」のリサイクル推進'
    dd= '家庭内に眠っている盤駒を無償提供してもらい、被災地、老人施設、児童施設などに配布する。'
    dt= '②「盤」と「駒」による世代間コミュニケーションの推進'
    dd= '例えば、文化財を伝え繋ぐ「盤駒製造業者」等と協力関係を樹立し、支援していく。'
    dt= '③詰将棋収集保存支援'
    dd= '詰将棋のデータ保存活動を支援する。'
    dt= '④古棋書保存活動の支援'
    dd= '将棋書の保存活動を支援する。詰将棋保存会、詰将棋データベース委員会の活動を支援する。'
    dt= '⑤詰将棋必至問題普及活動および詰将棋作家、必至作家支援'
    dd= '詰将棋発表の場の拡大を目指し、新聞その他のメディアに詰将棋必至問題の掲載を推進する。'
    dt= '⑥棋書出版事業を行う'
    dd= '将棋普及のために初心者向けの「次の一手」「必至問題集」「詰将棋問題集」を発行する。また、埋もれつつある故人の作品集、実戦集を発行する。'
    dt= '⑦地方都市の活性化支援（町おこし支援　その1）'
    dd= '将棋モニュメント、詰将棋モニュメントなどの製造について支援を行う。'
    dt= '⑧地方都市の活性化支援（町おこし支援 その2）'
    dd= 'こども将棋教室、こども将棋大会の開催支援を行う。'
    dt= '⑨高年の将棋指導者育成支援'
    dd= '将棋を指す楽しみとともに将棋を教える楽しみも理解してもらう。'
    dt= '⑩将棋博物館、詰将棋博物館の建設支援'
    dt= '⑪「解けてうれしい詰将棋」の黒字化および寄付活動'
    dd= '黒字化達成時より、「発行部数×１円」を社会貢献活動として寄付する。'
    dt= '⑫学校教育支援'
    dd= '教育現場に将棋を取り入れる活動について支援を行う。'
  p.text-right(style="margin-top:0; margin-bottom:0;")= '以　上'
  p.text-right(style="line-height:120%; margin-top:0; margin-bottom:0;")= '平成２３年　５月１日制定'
  p.text-right(style="line-height:120%; margin-top:0; margin-bottom:0;")= '将棋を孫に伝える会'