extends ./templates/template.jade

block content
  p(style="line-height:150%;")
    b= '会のご案内&nbsp;'
      small= '・・・会発足にあたり'
  p(style="line-height:150%;" align="left")
    | 平成２３年１０月、荒川貴道の「詰将棋保存会」と三宅英治の「解けててうれしい詰将棋」が合流して「将棋を孫に伝える会」を設立いたしました。
    br
    br
    | より組織的にそして永続的に、「将棋」と「詰将棋」の普及に役立つような活動をしていく所存です。
    | まだまだ設立して間もないため未決定のことばかりですが、ぜひともご支援をよろしくお願い申し上げます。
    br
    br
    | 「詰将棋」を中心に「必死」「不必死」「次の一手」などを懸賞出題し、皆様に問題を解く楽しみをご提供したく、加えて「各問題」を創作する方々のご期待にもお応えしたく運営・活動してまいります。
    br
    br
    | そして、これまで以上に詰将棋の保存活動にも力点をおいて、収集活動を行っていきますので、埋もれている地方のミニコミ誌などに掲載された詰将棋のご連絡も、よろしくお願い申し上げます。
    br
    br
    | また、将棋界のニュースやイベント情報、棋書出版情報などもご案内して参りたいと考えております。
    br
    br
    | なお、本会は近い将来には「ＮＰＯ法人将棋を孫に伝える会」として発展させていく予定でおります。今後ともよろしくお願い申し上げます。
  p(align="right" style="line-height:120%; margin-top:0; margin-bottom:0;")= '「将棋を孫に伝える会」'
  p(style="line-height:120%; margin-top:0; margin-bottom:0;" align="right")= '荒　川　　貴　道'
  p(align="right" style="line-height:120%; margin-top:0; margin-bottom:0;")= '三　宅　　英　治'
  P(align="right" style="line-height:120%; margin-top:0; margin-bottom:0;")= '以上'