extends ./templates/tokeure_template.jade

block content
  center
    //- 今週の詰む将棋
    div.row(style="background-color: #0000ff")
      h3.text-center(style="color: #ffffff")= '【 今週の詰む将棋 】'
  //- 問題１、２
  div.row
    div.col-xs-6.col-sm-6.col-md-6
      h4= '今週の問題です'
      img(src="assets/img/tokeure/nyuumon/mondai/tumu006.gif" align="bottom" width="275" height="251")
    div.col-xs-6.col-sm-6.col-md-6
      h4= '先週の問題です'
      img(src="assets/img/tokeure/nyuumon/mondai/tumu005.gif" align="bottom" width="275" height="251")
  //- 問題３，４
  div.row
    div.col-xs-6.col-sm-6.col-md-6
      h4= '問題３'
      img(src="assets/img/tokeure/nyuumon/mondai/010.gif" align="bottom" width="275" height="251")
    div.col-xs-6.col-sm-6.col-md-6
      h4= '問題４'
      img(src="assets/img/tokeure/nyuumon/mondai/009.gif" align="bottom" width="275" height="251")
  //- 問題５，６
  div.row
    div.col-xs-6.col-sm-6.col-md-6
      h4= '問題５'
      img(src="assets/img/tokeure/nyuumon/mondai/008.gif" align="bottom" width="275" height="251")
    div.col-xs-6.col-sm-6.col-md-6
      h4= '問題５'
      img(src="assets/img/tokeure/nyuumon/mondai/007.gif" align="bottom" width="275" height="251")
  
  hr
  
  center
    //- 問題１Ｇ
    div.row(style="background-color: #0000ff")
      h3.text-center(style="color: #ffffff")= '問題１Ｇ'
  //- 問題１、２
  div.row
    div.col-xs-6.col-sm-6.col-md-6
      h4= '問題１'
      img(src="assets/img/tokeure/nyuumon/mondai/001.gif" align="bottom" width="275" height="251")
    div.col-xs-6.col-sm-6.col-md-6
      h4= '問題２'
      img(src="assets/img/tokeure/nyuumon/mondai/002.gif" align="bottom" width="275" height="251")
  //- 問題３，４
  div.row
    div.col-xs-6.col-sm-6.col-md-6
      h4= '問題３'
      img(src="assets/img/tokeure/nyuumon/mondai/003.gif" align="bottom" width="275" height="251")
    div.col-xs-6.col-sm-6.col-md-6
      h4= '問題４'
      img(src="assets/img/tokeure/nyuumon/mondai/004.gif" align="bottom" width="275" height="251")
  //- 問題５，６
  div.row
    div.col-xs-6.col-sm-6.col-md-6
      h4= '問題５'
      img(src="assets/img/tokeure/nyuumon/mondai/005.gif" align="bottom" width="275" height="251")
    div.col-xs-6.col-sm-6.col-md-6
      h4= '問題５'
      img(src="assets/img/tokeure/nyuumon/mondai/006.gif" align="bottom" width="275" height="251")