extends ./templates/tokeure_template.jade

block content
  center
    p
      b(style="color: #0000ff; ")
        | 僕にも私にも貴方にも貴女にも世にもやさしい詰将棋
        br
        | 解けた時の爽快感をプレゼント
    div(style="background-color: #0000ff")
      h3(style="color: #ffffff")= '今月の懸賞詰将棋問題　平成２７年夏号'
    img.img-responsive(src="assets/img/tokeure/kensyoumondai/1507.png")
    h4
      b= '出題　行田市　海老原　辰夫　様'
    p
      | 詰将棋作家として長年活躍。詰パラ同人作家。
      br
      | 将棋専門誌等への発表作は合計３００題を超える。
      br
      | アマ強豪として名高い。元関東名人、元埼玉県名人。
      br
      | 将棋連盟熊谷支部長としてアマ将棋界をけん引。
      br
      | 子供教室も開催。将棋の普及活動にも尽力。
      br
      | その他の趣味は「写真」「囲碁」など。埼玉県７４才。
    br
    h4
      b(style= "color: #0000ff")= '正解者１名に「詰将棋冊子」を進呈します。'
      br
      b(style= "color: #ff0000")= '☆☆　締め切りは　平成２７年７月１５日到着まで　☆☆'
    br
    div(style="border: solid")
      //- 送信フォーム
      p(style="LINE-HEIGHT: 150%")
        img(border="0" alt="" align="absMiddle" src="assets/img/tokeure/kaitouForm.png" width="32" height="32")
        | 懸賞問題の解答・応募
        img(border="0" alt="" align="absMiddle" src="assets/img/tokeure/kaitouForm.png" width="32" height="32")
      //- メール
      img(src="assets/img/tokeure/mail.gif" align="absMiddle" width="18" height="15" border="0")
      a(href="mailto:kaitou6678@yahoo.co.jp")= ' メールはこちら '
      img(src="assets/img/tokeure/mail.gif" align="absMiddle" width="18" height="15" border="0")
    br
    p(style="color: #0000ff")
      | ◇解答は省略記入でＯＫです、初手・最終手・手数は必ずお願いします。◇
      br
      | ◇お名前は必ずお願いします。ニックネームでも可。◇
      br
      | ◇解答は来通りのアドレスFAXなどなどOKです。当選不要、匿名当選希望の方はその旨記入下さい。◇