extends ./templates/tokeure_template.jade

block content
  center
    //- 投稿作問題　５月号
    div.row(style="background-color: #0000ff")
      div.col-xs-3.col-sm-3.col-md-3
      div.col-xs-1.col-sm-1.col-md-1
        br
        img(src="assets/img/tokeure/tumehissi/hu.gif")
      div.col-xs-4.col-sm-4.col-md-4
        h3(style="color: #ffffff")= '投稿作問題　５月号'
      div.col-xs-1.col-sm-1.col-md-1
        br
        img(src="assets/img/tokeure/tumehissi/hu.gif")
      div.col-xs-3.col-sm-3.col-md-3
  //- 問題１、２
  div.row
    div.col-xs-6.col-sm-6.col-md-6
      h4= '問題１'
      img(src="assets/img/tokeure/toukousaku/150501.jpg" align="bottom" width="275" height="251")
      br
      p= '【出題】登場９８回　東京都　大森　常一　様'
    div.col-xs-6.col-sm-6.col-md-6
      h4= '問題２'
      img(src="assets/img/tokeure/toukousaku/150502.jpg" align="bottom" width="275" height="251")
      br
      p= '【出題】登場９９回　東京都　大森　常一　様'
  //- 問題３，４
  div.row
    div.col-xs-6.col-sm-6.col-md-6
      h4= '問題３'
      img(src="assets/img/tokeure/toukousaku/150503.jpg" align="bottom" width="275" height="251")
      br
      p= '【出題】登場３回　横浜市　松岡　信行　様'
    div.col-xs-6.col-sm-6.col-md-6
      h4= '問題４'
      img(src="assets/img/tokeure/toukousaku/150504.jpg" align="bottom" width="275" height="251")
      br
      p= '【出題】 登場２６回　甲斐市　門田　和雄　様'
  //- 問題５，６
  div.row
    div.col-xs-6.col-sm-6.col-md-6
      h4= '問題５'
      img(src="assets/img/tokeure/toukousaku/150505.jpg" align="bottom" width="275" height="251")
      br
      p= '【出題】登場３０回　堺市　柴田　昭彦　様'
    div.col-xs-6.col-sm-6.col-md-6
  
  br
  hr
  br


  center
    //- 投稿作問題　４月号
    div.row(style="background-color: #0000ff")
      div.col-xs-3.col-sm-3.col-md-3
      div.col-xs-1.col-sm-1.col-md-1
        br
        img(src="assets/img/tokeure/tumehissi/hu.gif")
      div.col-xs-4.col-sm-4.col-md-4
        h3(style="color: #ffffff")= '投稿作問題　４月号'
      div.col-xs-1.col-sm-1.col-md-1
        br
        img(src="assets/img/tokeure/tumehissi/hu.gif")
      div.col-xs-3.col-sm-3.col-md-3
  //- 問題１、２
  div.row
    div.col-xs-6.col-sm-6.col-md-6
      h4= '問題１'
      img(src="assets/img/tokeure/toukousaku/150401.jpg" align="bottom" width="275" height="251")
      br
      p= '【出題】 出題 編集部'
    div.col-xs-6.col-sm-6.col-md-6
      h4= '問題２'
      img(src="assets/img/tokeure/toukousaku/150402.jpg" align="bottom" width="275" height="251")
      br
      p= '【出題】登場３回 京都市 岩崎 柊典 様'
  //- 問題３，４
  div.row
    div.col-xs-6.col-sm-6.col-md-6
      h4= '問題３'
      img(src="assets/img/tokeure/toukousaku/150403.jpg" align="bottom" width="275" height="251")
      br
      p= '【出題】登場１６５回 高岡市 藤井 憲郎 様'
    div.col-xs-6.col-sm-6.col-md-6
      h4= '問題４'
      img(src="assets/img/tokeure/toukousaku/150404.jpg" align="bottom" width="275" height="251")
      br
      p= '出題】 登場１６６回 高岡市 藤井 憲郎 様'
  //- 問題５，６
  div.row
    div.col-xs-6.col-sm-6.col-md-6
      h4= '問題５'
      img(src="assets/img/tokeure/toukousaku/150405.jpg" align="bottom" width="275" height="251")
      br
      p= '【出題】 登場２４回 甲斐市 門田 和雄 様'
    div.col-xs-6.col-sm-6.col-md-6
      h4= '【事務局連絡】'
      br
      p
        | このコーナーの解答者数は詰将棋コーナーの約半数です。
        br
        | 難解ですが１問でも正解すれば当選権がありますので是非ご応募下さいませ。
        br
        | ユニークなコメントを頂いた場合、選者の独断で当選確率は上がります。