extends ./templates/tokeure_template.jade

block content
  center
    //- 投稿作問題　５月号　解答・感想
    div.row(style="background-color: #0000ff")
      div.col-xs-2.col-sm-2.col-md-2
      div.col-xs-1.col-sm-1.col-md-1
        br
        img(src="assets/img/tokeure/tumehissi/hu.gif")
      div.col-xs-6.col-sm-6.col-md-6
        h3(style="color: #ffffff")= '投稿作問題　５月号　解答・感想'
      div.col-xs-1.col-sm-1.col-md-1
        br
        img(src="assets/img/tokeure/tumehissi/hu.gif")
      div.col-xs-2.col-sm-2.col-md-2
  //- 問題１、２
  div.row
    div.col-xs-6.col-sm-6.col-md-6
      h4= '問題１　'
        small= '13/14（正解/応募）'
      img(src="assets/img/tokeure/toukousaku/150501.jpg" align="bottom" width="275" height="251")
      br
      p
        | 【出題】登場９８回　東京都　大森　常一　様
        br
        | 【解答】２二銀、同玉、１四角成まで３手必至。
        br
        | 【解答者寸評】　※は事務局コメント
        br
        | 坂本栄治郎様 玉の誘い込み見事。
        br
        | ※実戦で発見できたら嬉しい手順ですね。
    div.col-xs-6.col-sm-6.col-md-6
      h4= '問題２　'
        small= '14/14（正解/応募）'
      img(src="assets/img/tokeure/toukousaku/150502.jpg" align="bottom" width="275" height="251")
      br
      p
        | 【出題】登場９９回　東京都　大森　常一　様
        br
        | 【解答】１五桂まで１手必至。
        br
        | 【解答者寸評】　※は事務局コメント
        br
        | 占魚亭様　飛車を支援。
        br
        | ※易しめの問題でした。
  //- 問題３，４
  div.row
    div.col-xs-6.col-sm-6.col-md-6
      h4= '問題３　'
        small= '12/14（正解/応募）'
      img(src="assets/img/tokeure/toukousaku/150503.jpg" align="bottom" width="275" height="251")
      br
      p
        | 【出題】登場３回　横浜市　松岡　信行　様
        br
        | 【解答】１二銀、同飛、３三角、同香、１二歩成、同玉、３二飛、２三玉、２二飛成まで９手詰。
        br
        | 【解答者寸評】　※は事務局コメント
        br
        | 大野　孝様　ここに角を打ってという顔をしていますね。
        br
        | ※３三角の一手必至解がありました。筋ですが惜しい。
    div.col-xs-6.col-sm-6.col-md-6
      h4= '問題４　'
        small= '14/14（正解/応募）'
      img(src="assets/img/tokeure/toukousaku/150504.jpg" align="bottom" width="275" height="251")
      br
      p
        | 【出題】 登場２６回　甲斐市　門田　和雄　様
        br
        | 【解答】１六金、同桂、２六銀、同馬、１四飛、２五玉、３四飛成まで７手詰。
        br
        | 【解答者寸評】　※は事務局コメント
        br
        | 蜂須賀久雄様　手が限られているのでわかりやすいです。
        br
        | ※最終引成の解答多数ありましたが１四の飛は成れないので不要かと・・・。
  //- 問題５，６
  div.row
    div.col-xs-6.col-sm-6.col-md-6
      h4= '問題５　'
        small= '13/14（正解/応募）'
      img(src="assets/img/tokeure/toukousaku/150505.jpg" align="bottom" width="275" height="251")
      br
      p
        | 【出題】登場３０回　堺市　柴田　昭彦　様
        br
        | 【解答】３二歩成、２三玉、１三歩成、同玉、１五竜、２三玉、１二竜、同玉、２二馬まで９手詰。
        br
        | 【解答者寸評】　※は事務局コメント
        br
        | 高見秀夫様　「解けうれにピッタリ」座布団一枚。
        br
        | ※１０枚貯まるとものすご～い賞品が（笑）。
    div.col-xs-6.col-sm-6.col-md-6
      h4= '【当選者】　占魚亭　様'
      br
      p
        | 【全問正解者】　１１名
        br
        | 中村義夫様、小川恒夫様、本多正勝様、
        | 高見秀夫様、坂本栄治郎様、木村良一様、
        | 鈴木康弘様、蜂須賀久雄様、大野　孝様、
        | 占魚亭様、野中正義様
  
  br
  hr
  br


  center
    //- 投稿作問題　４月号　解答・感想
    div.row(style="background-color: #0000ff")
      div.col-xs-2.col-sm-2.col-md-2
      div.col-xs-1.col-sm-1.col-md-1
        br
        img(src="assets/img/tokeure/tumehissi/hu.gif")
      div.col-xs-6.col-sm-6.col-md-6
        h3(style="color: #ffffff")= '投稿作問題　４月号　解答・感想'
      div.col-xs-1.col-sm-1.col-md-1
        br
        img(src="assets/img/tokeure/tumehissi/hu.gif")
      div.col-xs-2.col-sm-2.col-md-2
  //- 問題１、２
  div.row
    div.col-xs-6.col-sm-6.col-md-6
      h4= '問題１　'
        small= '19/19（正解/応募）'
      img(src="assets/img/tokeure/toukousaku/150401.jpg" align="bottom" width="275" height="251")
      br
      p
        | 【出題】 出題 編集部
        br
        | 【解答】３三龍まで１手必至。
        br
        | 【解答者寸評】　※は事務局コメント
        br
        | 鈴木康弘様　 絵に描いたようなダブル詰めろ必至。
        br
        | ※実戦でさせるだろうか？のご意見も多数ありました。
    div.col-xs-6.col-sm-6.col-md-6
      h4= '問題２　'
        small= '18/19（正解/応募）'
      img(src="assets/img/tokeure/toukousaku/150402.jpg" align="bottom" width="275" height="251")
      br
      p
        | 【出題】登場３回 京都市 岩崎 柊典 様
        br
        | 【解答】４一銀、同銀、２二金、同玉、３一角、１二玉、１三銀、同桂、２二金　まで９手詰。
        br
        | 【解答者寸評】　※は事務局コメント
        br
        | 高見秀夫様　持駒にウンザリ、手順はアッサリ。
        br
        | ※初手の後は一本道ですね。
  //- 問題３，４
  div.row
    div.col-xs-6.col-sm-6.col-md-6
      h4= '問題３　'
        small= '18/19（正解/応募）'
      img(src="assets/img/tokeure/toukousaku/150403.jpg" align="bottom" width="275" height="251")
      br
      p
        | 【出題】登場１６５回 高岡市 藤井 憲郎 様
        br
        | 【解答】２五桂、同龍、２二龍、２四玉、３四角成、同玉、３三龍まで７手詰。
        br
        | 【解答者寸評】　※は事務局コメント
        br
        | 大野　孝様　最後の形は？
        br
        | ※一輪挿しかフラスコでしょうか？龍のスイッチバックが好評でした。
    div.col-xs-6.col-sm-6.col-md-6
      h4= '問題４　'
        small= '19/19（正解/応募）'
      img(src="assets/img/tokeure/toukousaku/150404.jpg" align="bottom" width="275" height="251")
      br
      p
        | 【出題】 登場１６６回 高岡市 藤井 憲郎 様
        br
        | 【解答】３一金、２二玉、３四桂、同飛、３二金打、２三玉、３三金、同玉、３二角成　まで９手詰。
        br
        | 【解答者寸評】　※は事務局コメント
        br
        | 玉木英幸様　一回解けたのに回答作成時にまたわからなくなりました。
        br
        | ※重い金の重ね打ちが好評でした。
  //- 問題５，６
  div.row
    div.col-xs-6.col-sm-6.col-md-6
      h4= '問題５　'
        small= '17/19（正解/応募）'
      img(src="assets/img/tokeure/toukousaku/150405.jpg" align="bottom" width="275" height="251")
      br
      p
        | 【出題】 登場２４回 甲斐市 門田 和雄 様
        br
        | 【解答】１五金、同玉、２四角、同玉、３四飛成、１五玉、２七桂、１六玉、２五龍、同玉、１五金まで１１手詰。
        br
        | 【解答者寸評】　※は事務局コメント
        br
        | 占魚亭　様　１５金に始まり１５金に終わる。傍観する守備陣が哀れ。
        br
        | ※１５金～１５金は作為か僥倖か。２五龍の味と合わせて好評でした。
    div.col-xs-6.col-sm-6.col-md-6
      h4= '【当選者】　森田　茂　様'
      br
      p
        | 【全問正解者】　１７名
        br
        | 玉木英幸様、森田　茂様、中村義夫様、
        | 小川恒夫様、木村良一様、野中正義様、
        | 大沼　貴様、坂本栄治郎様、高見秀夫様、
        | 本多正勝様、蜂須賀久雄様、石川　浩様、
        | 鈴木康弘様、占魚亭様、門田和雄様、
        | 國吉　進様、田野保　幸平様